{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">Desenvolvido por <a href="https://wesley-breno.github.io/Portfolio/" target="_blank">Wesley Breno</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3" style="margin: 10px"><a class="text-muted" href="https://github.com/Wesley-Breno" target="_blank"><img src="https://icon-library.com/images/github-icon-white/github-icon-white-5.jpg" width="30"></a></li>
      <li class="ms-3" style="margin: 10px"><a class="text-muted" href="https://www.linkedin.com/in/wesley-breno-ba2b33208/" target="_blank"><img src="https://www.nicepng.com/png/full/374-3745383_linkedin-linkedin-logo-grey-png.png" width="25"></a></li>
      <li class="ms-3" style="margin: 10px"><a class="text-muted" href="https://www.instagram.com/_wesleybreno_/" target="_blank"><img src="https://i.pinimg.com/originals/8a/3b/05/8a3b055d7e3cc52a0f0053535f0339ea.jpg" width="25" style="border-radius: 5px;"></a></li>
    </ul>
</footer>