{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block 'titulo' %}{% endblock %}</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/410/410909.png" type="image/x-icon">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'parciais/_nav.html' %}
    {% include 'parciais/_messages.html' %}
    {% block 'conteudo' %}{% endblock %}
    {% include 'parciais/_footer.html' %}
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>