{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}
    Contatos ∙ Agenda
{% endblock %}

{% block 'conteudo' %}
{% if tem_contato %}
    {% for contato in contatos %}
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal{{contato.id}}" style="margin: 20px;">
            <h5>{{ contato.nome }} {% if contato.sobrenome %}{{ contato.sobrenome|first }}.{% endif %}</h5>
            <hr>
            {% if contato.telefone|length <= 12 %}
                {{ contato.telefone }}<br>
            {% else %}
                {{ contato.telefone|slice:":13" }}...<br>
            {% endif %}
            <small class="text-muted" style="font-size: 12px;">Clique para mais detalhes</small>
        </button>

        <!-- Modal -->
        <div id="myModal{{contato.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title">{{ contato.nome }} {% if contato.sobrenome %}{{ contato.sobrenome }}{% endif %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -16;">
                    <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                {% if contato.foto %}
                    <p style="text-align: center;"><img src="{{ contato.foto.url }}" height="150" width="150" style="border-radius: 10px;"></p>
                {% endif %}
                  <h6>Sobre</h6>
                {% if contato.sobre %}
                    <small>{{ contato.sobre }}</small>
                {% else %}
                    <small>...</small>
                {% endif %}
                <hr>
                <h6 style="margin-top:5px;">Numero de celular</h6>
                <small>{{ contato.telefone }}</small>
                  <hr>
                <h6 style="margin-top:5px;">Categoria</h6>
                <small>{{ contato.categoria }}</small>
              </div>
              <div class="modal-footer">
                  <a href="{% url 'atualizar_contato' contato.id %}" style="color: inherit; text-decoration: none;"><button type="button" class="btn btn-outline-secondary">Editar</button></a>
                  <a href="{% url 'deletar_contato' contato.id %}" style="color: inherit; text-decoration: none;"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
              </div>
            </div>

          </div>
        </div>
    {% endfor %}
{% else %}
    <h2 style="text-align: center; margin: 50px;">Voce ainda não adicionou nenhum contato.</h2>
    <p style="text-align: center;">Adicione contatos para armazena-los na Web. <a href="{% url 'adicionar_contato' %}">Clique aqui</a></p>
    <div style="margin: 20%;"></div>
{% endif %}
{% endblock %}