{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Agenda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if not user.username %}
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'cadastro' %}">Cadastro</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'home' %}">Meus contatos</a>
          <a class="dropdown-item" href="{% url 'adicionar_contato' %}">Adicionar contato</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'sobre' %}">Sobre nos</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
          {% endif %}
        </div>
      </li>
    </ul>
    {% if user.username %}
      <form class="form-inline my-2 my-lg-2" method="get" action="{% url 'busca' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Nome do contato" aria-label="Search" value="{{ request.GET.busca }}" name="busca">
      </form>
    {% endif %}
  </div>
</nav>